ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
	width:120px;
}

li {
    
}
h1{font-size:35px;}
li a {
    display: block;
    color: black;
    padding: 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:#D3D3D3;
}
#navbar{
	border-right:2px solid black;
	height:500px;
	width:12%;
}
#main{
	margin:auto;
	width:1200px;
}
#content{
	padding-top:14px;
	float:right;
	width:85%;
}
*{
	font-size:20px;
}
#headerr{
	width:100%;
	border-bottom:2px black solid;
}