<div style="width:1200px">
	<div id="headerr">
			<h1 id="header">Mitgliederbereich</h1>
	</div>
	<div id="navbar" style="float:left;">		
		<ul class="nav nav-pills">
			<li id="proben"><a>Proben</a></li>
			<li id="konzerte"><a>Konzerte</a></li>
			<li id="pw"><a>Passwort</a></li>
		</ul>
	</div>
	<div id="content">
		
	</div>
</div>
<script>
$('#proben').click(function () {proben();});
$('#konzerte').click(function () {konzerte();});
$('#pw').click(function () {pw();});
function proben(){
	$.ajax({
			url:"http://localhost/musik/php/uProben.php",
			type: "POST",
			data: {m_id: id}
				}).done(function (data){
					$('#header').html('Proben');
					$("#content").empty();
					$("#content").append(data);
				});
}
function konzerte(){
	$.ajax({
			url:"http://localhost/musik/php/uKonzerte.php",
			type: "POST",
			data: {m_id: id}
				}).done(function (data){
					$('#header').html('Konzerte');
					$("#content").empty();
					$("#content").append(data);
				});
}
function pw(){
	$.ajax({
			url:"http://localhost/musik/php/uPassowrdChange.php",
			type: "POST",
			data: {m_id: id}
				}).done(function (data){
					$('#header').html('Passwort ändern');
					$("#content").empty();
					$("#content").append(data);
				});
}

</script>