<div style="width:1200px">
	<div id="headerr">
			<h1 id="header">Adminbereich</h1>
	</div>
	<div id="navbar" style="float:left;">		
		<ul class="nav nav-pills">
			<li id="proben"><a>Proben</a></li>
			<li id="konzerte"><a>Konzerte</a></li>
			<li id="mitglieder"><a>Mitglieder</a></li>
			<li id="instrumente"><a>Utensilien</a></li>
			<li id="pw"><a>Passwort</a></li>
		</ul>
	</div>
	<div id="content">
		
	</div>
</div>
<script>
$('#proben').click(function () {proben();});
$('#konzerte').click(function () {konzerte();});
$('#mitglieder').click(function () {mitglieder();});
$('#instrumente').click(function () {instrumente();});
$('#pw').click(function () {pw();});
function proben(){
	$.ajax({
			url:"http://localhost/musik/php/aProben.php",
			type: "POST",
			data: {m_id: id}
				}).done(function (data){
					$('#header').html('Proben');
					$("#content").empty();
					$("#content").append(data);
				});
}
function konzerte(){
	$.ajax({
			url:"http://localhost/musik/php/aKonzert.php",
			type: "POST",
			data: {m_id: id}
				}).done(function (data){
					$('#header').html('Konzerte');
					$("#content").empty();
					$("#content").append(data);
				});
}
function mitglieder(){
	$.ajax({
			url:"http://localhost/musik/php/aMitglieder.php",
			type: "POST",
				}).done(function (data){
					$('#header').html('Mitglieder');
					$("#content").empty();
					$("#content").append(data);
				});
}
function instrumente(){
	$.ajax({
			url:"http://localhost/musik/php/aInstrumente.php",
			type: "POST",
				}).done(function (data){
					$('#header').html('Utensilien');
					$("#content").empty();
					$("#content").append(data);
				});
}
function pw(){
	$.ajax({
			url:"http://localhost/musik/php/uPassowrdChange.php",
			type: "POST",
			data: {m_id: id}
				}).done(function (data){
					$('#header').html('Passwort ändern');
					$("#content").empty();
					$("#content").append(data);
				});
}
</script>