
<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
				<li class="home"><a href="index.html" style="font-size:18px;">Musikkapelle Echsenbach</a></li>
                <li class="konzerte"><a href="konzerte.html">Konzerte</a></li>
                <li class="login"><a href="login.php">Login</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
<script>
var pathname = window.location.pathname;
	if(pathname.endsWith('index.html') || pathname.endsWith('/')){
		$('.home').addClass("active");
	}
	else{
		$('.home').removeClass( "active" );
	}
	if(pathname.endsWith('konzerte.html')){
		$('.konzerte').addClass("active");
	}
	else{
		$('.konzerte').removeClass( "active" );
	}
	if(pathname.endsWith('login.php')){
		$('.login').addClass("active");
	}
	else{
		$('.login').removeClass( "active" );
	}
</script>